<!doctype html>
{% load static %}
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Font classficator</title>
    <!-- <script src="{% static 'js/script01.js' %}" type="text/css" />
    <script src="{% static 'js/jquery-2.1.4.min.js' %}" type="text/css" /> -->
    <link rel="stylesheet" href="{% static 'css/style01.css' %}" type="text/css" />
    {% block head_block %}{% endblock %}
    </head>
<body>
    <div id="container">
    {% block body_block %}{% endblock %}
    <footer>
        <div class="footer-content width">
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p>&copy; Font classificator 2015.</p>
         </div>
    </footer>
</div>
</body>
</html>
